.container {
  min-height: 100vh;
  padding-bottom: 200px;
}
.top {
  margin-top: 75px;
  text-align: center;
}
.bottom {
  margin-top: 50px;
  transform: scale(0); /* Start with the element scaled down */
  animation: zoom-in 0.8s ease-out forwards;
}

@keyframes zoom-in {
  0% {
    transform: scale(0); /* Start with the element completely scaled down */
    opacity: 0; /* Optionally fade in */
  }
  100% {
    transform: scale(1); /* End at the normal size */
    opacity: 1; /* Fully visible */
  }
}
