:root {
  --black: #0e0e0e;
  --light-black: #202020;
  --lighter-black: #2d2d2d;
  --white: #ffffff;
  --yellow: #f5e1a7;
  --lighter-yellow: #302b22;
  --gray: #3c3c3e;
  --darker-gray: #202020;
  --lighter-gray: #848484;
  --hover-gray: #2f2a21;
}

/* app/globals.css */

/* CSS Reset (e.g., Normalize.css or a custom reset) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font settings */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.container {
  z-index: 99;
  background-color: var(--black) !important;
  margin-bottom: 320px;
}

/* Anchor tags styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Utility classes */

/* Heading styles */

/* Example of custom button styles */

@media (max-width: 599px) {
  .container {
    margin-bottom: 100px;
  }
}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 899px) {
  .container {
    margin-bottom: 180px;
  }
}

/* Medium devices (small laptops, 900px and up) */
@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    margin-bottom: 250px;
  }
}
