:root {
  --black: #0e0e0e;
  --light-black: #202020;
  --white: #ffffff;
  --yellow: #f5e1a7;
  --lighter-yellow: #302b22;
  --gray: #3c3c3e;
  --darker-gray: #202020;
  --lighter-gray: #848484;
  --hover-gray: #2f2a21;
}

/* app/globals.css */

/* CSS Reset (e.g., Normalize.css or a custom reset) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font settings */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--black) !important;
  color: var(--white) !important;
}

/* Anchor tags styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Utility classes */

/* Heading styles */

/* Example of custom button styles */
