.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.greeting {
  animation: slide-left 0.5s ease-out forwards;
}

.right {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ffd43b;
  box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5),
    inset 0px 0px 10px rgba(255, 212, 59, 0.5),
    0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
  animation: slide-left 0.6s ease-out forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%); /* Start from the right */
    opacity: 0; /* Optional: makes the element fade in */
  }
  100% {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}
