.appBar {
  background: rgba(14, 14, 14, 0.6) !important;
  backdrop-filter: blur(12px);
}

.drawer {
  background-color: black !important;
  color: white;
  height: 100%;
}

.logoWrapper {
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
